openapi: 3.0.3
info:
  title: BankAxept - Issuer - DES Web Service Interface
  description: This is a technical specification of the Web Service Application Programming
    Interface (API) for the BankAxept Digital Enablement Service (DES) to issuer interface.
  version: "1.10"
servers:
  - url: https://to.be.decided/api/v1/issuer
paths:
  /healthCheck:
    get:
      tags:
        - issuer-to-des
      summary: Check if DES is healthy
      description: The issuer may use the optional HealthCheck API call to verify
        the availability of the DES. **Note:** This message is a HTTP GET.
      operationId: healthCheck
      parameters:
        - name: tid
          in: header
          description: Trace Identifier following the request.
          schema:
            type: string
      responses:
        200:
          description: successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
  /inquiry:
    post:
      tags:
        - issuer-to-des
      summary: Token information inquiry
      description: |-
        The Inquiry API call provides the issuer with the ability to search for token-related information. BankAxept supports inquiry calls with different inputs:
        *  **Search by the primary account number (PAN)**: the response provides information for all tokens associated with the PAN.
        *  **Search by the token**: the response provides information on the specific token.
        *  **Search by tokenReferenceId and tokenRequestorId**: the response provides information of the token associated with the combination of the tokenReferenceId and tokenRequestorId.
        *  **Search by the issuerCardRefId**: the response provides information for all tokens associated with the card instance.

        *If tokenReferenceId is used for the inquiry, tokenRequestorId must also be included, and vice versa.*
      operationId: inquiry
      parameters:
        - name: tid
          in: header
          description: Trace Identifier following the request.
          schema:
            type: string
      requestBody:
        description: Request for token inquiry.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InquiryRequest'
        required: true
      responses:
        200:
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquiryResponse'
      x-codegen-request-body-name: body
  /replaceCard:
    post:
      tags:
        - issuer-to-des
      summary: Replace funding card details
      description: |-
        The ReplaceCard API call is used by the issuer to update card PAN mapping information or the issuer product configuration ID for all tokens that are associated to a PAN. The fpan must be the same since otherwise the PAR will not be correctly linked.
        The allowed options for replacing card details are:
        * fpan (must be the same), Expiry date, PSN, Product Id.
        * fpan (must be the same), Expiry date, PSN.
        * Product Id.

        The DES also supports batch card replacement via this API. In such case, the replaceCardDetailsList can contain up to 99 individual records.

        *encryptedNewCardPan field containing a Base64-encoded encrypted newCardPan. The issuer will receive from BankAxept the certificate to be used when encrypting the data to BankAxept.*
      operationId: replaceCard
      parameters:
        - name: tid
          in: header
          description: Trace Identifier following the request.
          schema:
            type: string
      requestBody:
        description: Request for replacing card details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceCardRequest'
        required: true
      responses:
        200:
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceCardResponse'
      x-codegen-request-body-name: body
  /updateCardState:
    post:
      tags:
        - issuer-to-des
      summary: Request token status update
      description: |-
        UpdateCardState is used by the issuer to request the DES to make a change to the token status. The change can be made on all tokens associated with the same PAN at once, or only on a specific token depending on the input data.

        **Note:** When a PAN is suspended (issuerCardRefId), all tokens associated to the PAN are suspended. To resume tokens, the request needs to specify the specific token (tokenReferenceId and token-RequestorId or token).

        The DES also supports batch card state updates via this API. In such a case, the updateCardDe-tailsList can contain up to 99 individual records.

        BankAxept supports UpdateCardState calls with different inputs:
        *  **Update by token**: the response provides information on the updated token.
        *  **Update by tokenReferenceId and tokenRequestorId**: the response provides information on the updated token associated with the combination of the tokenReferenceId and token-RequestorId.
        *  **Update by the issuerCardRefId**: the response provides information for all updated tokens associated with the card instance. Note: Update by the issuerCardRefId does not apply for resume.

        If no token information is included, all the tokens associated with the card will be updated. If ei-ther (token) or (tokenRequestorId and tokenReferenceId) is included, only the specific token will be updated.

        **Note**: When a PAN is suspended (issuerCardRefId), all tokens associated to the PAN are suspended. To resume tokens the request needs to specify the specific token (tokenReferenceId).
      operationId: updateCardState
      parameters:
        - name: tid
          in: header
          description: Trace Identifier following the request.
          schema:
            type: string
      requestBody:
        description: Request for updating token status.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardStateRequest'
        required: true
      responses:
        200:
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardStateResponse'
      x-codegen-request-body-name: body
components:
  schemas:
    BaseRequest:
      type: object
    BaseResponse:
      type: object
      required:
        - responseCode
      properties:
          responseCode:
            type: integer
            description: Response code
          errorMessage:
            maxLength: 500
            type: string
            description: Error message in case the response is not OK.
    DeviceInformation:
      required:
        - tokenStorageId
        - tokenStorageType
      type: object
      properties:
        tokenStorageId:
          maxLength: 128
          type: string
          description: A unique device identifier.
        tokenStorageType:
          type: string
          description: Identify the type token storage location type.
          enum:
            - WALLET_SERVER
            - PHONE
            - TABLET
            - WATCH
            - COMPUTER
            - UNKNOWN
    HealthCheckResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
    InquiryDetails:
      required:
        - accountPanSuffix
        - expiryDate
        - panSequenceNumber
        - tokenDetailsList
      type: object
      properties:
        accountPanSuffix:
          maxLength: 4
          minLength: 4
          type: string
          description: Last four digits of the card fpan.
        expiryDate:
          maxLength: 4
          minLength: 4
          pattern: ^(0[1-9]|1[0-2])(\d{2})$
          type: string
          description: Expiry date of the fpan.
        panSequenceNumber:
          pattern: ^0\d{2}$
          type: string
          description: The card sequence number.
        tokenDetailsList:
          type: array
          description: Detailed information of the token(s).
          items:
            $ref: '#/components/schemas/TokenDetails'
    InquiryRequest:
      allOf:
        - $ref: '#/components/schemas/BaseRequest'
        - type: object
          required:
            - issuerId
          properties:
            encryptedCardPan:
              type: string
              description: Base64-encoded string of encrypted funding PAN (fpan). When
                this data presents, the response will return all tokens associated to
                this fpan.
            issuerCardRefId:
              maxLength: 48
              type: string
              description: A unique identifier for a BankAxept card instance.
            issuerId:
              maxLength: 10
              type: string
              description: Unique identifier of the issuer.
            keyIndex:
              maxLength: 500
              type: string
              description: An identifier of the key (the fingerprint of the certificate)
                used to encrypt data between the DES and the Issuer.
            token:
              maxLength: 19
              type: string
              description: The token value. When this data is used for the inquiry, the
                response will return information for the specific token.
            tokenReferenceId:
              maxLength: 32
              type: string
              description: A unique identifier of the token.
            tokenRequestorId:
              maxLength: 11
              type: string
              description: A unique identifier of the token requestor.
    InquiryResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          required:
            - inquiryDetailsList
          properties:
            inquiryDetailsList:
              type: array
              description: Detailed information of cards and tokens.
              items:
                $ref: '#/components/schemas/InquiryDetails'
    ReplaceCardDetails:
      required:
        - issuerCardRefId
      type: object
      properties:
        encryptedNewCardPan:
          type: string
          description: The new card PAN.
        issuerCardRefId:
          maxLength: 48
          type: string
          description: A unique identifier for a BankAxept card instance.
        newCardExpiryDate:
          maxLength: 4
          minLength: 4
          pattern: ^(0[1-9]|1[0-2])(\d{2})$
          type: string
          description: The new card expiry date (either for the original or the new
            PAN) in the format MMYY.
        newCardSequenceNumber:
          pattern: ^0\d{2}$
          type: string
          description: The new card sequence number.
    ReplaceCardRequest:
      allOf:
        - $ref: '#/components/schemas/BaseRequest'
        - type: object
          required:
            - issuerId
            - keyIndex
            - replaceCardDetailsList
          properties:
            issuerId:
              maxLength: 10
              type: string
              description: Unique identifier of the issuer.
            keyIndex:
              maxLength: 500
              type: string
              description: An identifier of the key (the fingerprint of the certificate)
                used to encrypt data between the DES and the Issuer.
            replaceCardDetailsList:
              maxItems: 99
              type: array
              description: Details of the card to be replaced and the new card information.
                If more than one card is to be replaced (batch replacement), one record
                per card must be provided.
              items:
                $ref: '#/components/schemas/ReplaceCardDetails'
    ReplaceCardResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          required:
            - responseDetailsLcmList
          properties:
            responseDetailsLcmList:
              type: array
              description: Result(s) of the replacement action. If more than one card
                is to be replaced, one result per card will be returned.
              items:
                $ref: '#/components/schemas/ResponseDetailsLcm'
    ResponseDetailsLcm:
      required:
        - issuerCardRefId
        - numberOfTokensUpdated
        - responseCode
        - tokenInfoList
      type: object
      properties:
        errorMessage:
          maxLength: 500
          type: string
          description: Error message in case the response is not OK.
        issuerCardRefId:
          maxLength: 48
          type: string
          description: A unique identifier for a card instance.
        numberOfTokensUpdated:
          type: integer
          description: The total number of tokens that have been updated.
        responseCode:
          type: integer
          description: Response code.
        tokenInfoList:
          type: array
          description: List of tokens updated.
          items:
            $ref: '#/components/schemas/TokenInfo'
    TokenDetails:
      required:
        - token
        - tokenAssuranceLevel
        - tokenExpiryDate
        - tokenReferenceId
        - tokenRequestorId
        - tokenStatus
        - tokenType
      type: object
      properties:
        deviceInformation:
          $ref: '#/components/schemas/DeviceInformation'
        token:
          maxLength: 19
          type: string
          description: The token value.
        tokenActivationTime:
          maxLength: 19
          minLength: 19
          type: string
          description: The exact date and time when the token is activated. The format
            is according to ISO 8601. YYYY-MM-DDThh:mm:ss  The field is Conditional
            and only applicable if the token has been activated.
        tokenExpiryDate:
          maxLength: 4
          minLength: 4
          pattern: ^(0[1-9]|1[0-2])(\d{2})$
          type: string
          description: Expiration date of the token formatted as MMYY.
        tokenReferenceId:
          maxLength: 32
          type: string
          description: A unique identifier of the token.
        tokenRequestorId:
          maxLength: 11
          type: string
          description: A unique identifier of the token requestor.
        tokenStatus:
          type: string
          enum:
            - CREATED
            - PROVISIONED
            - ACTIVE
            - SUSPENDED
            - DELETED
        tokenType:
          type: string
          description: |-
            “EMBEDDED_SE” used for international wallets based on Secure Element (SE).

            “HCE” used for international wallets based on Host Card Emulation (HCE).

            “CARD_ON_FILE” used for ePayment.
          enum:
            - EMBEDDED_SE
            - HCE
            - CARD_ON_FILE
    TokenInfo:
      required:
        - tokenReferenceId
        - tokenRequestorId
      type: object
      properties:
        tokenReferenceId:
          maxLength: 32
          type: string
          description: A unique identifier of the token.
        tokenRequestorId:
          maxLength: 11
          type: string
          description: A unique identifier of the token requestor.
    UpdateCardDetails:
      required:
        - action
        - requestReason
      type: object
      properties:
        action:
          type: string
          enum:
            - SUSPEND
            - RESUME
            - DELETE
        issuerCardRefId:
          maxLength: 48
          type: string
          description: A unique identifier for a BankAxept card instance.
        requestReason:
          type: integer
          description: |-
            Description provided by the issuer regarding the reason of specific lifecycle management action. Allowed values are:
            * 11 => User decision
            * 21 => Issuer decision
            * 31 => Device lost
            * 32 => Device stolen
            * 131 => Device recovered
            * 41 => DES decision
        token:
          maxLength: 19
          type: string
          description: The token value.
        tokenReferenceId:
          maxLength: 32
          type: string
          description: A unique identifier of the token.
        tokenRequestorId:
          maxLength: 11
          type: string
          description: A unique identifier of the token requestor.
    UpdateCardStateRequest:
      allOf:
        - $ref: '#/components/schemas/BaseRequest'
        - type: object
          required:
            - issuerId
            - updateCardDetailsList
          properties:
            issuerId:
              maxLength: 10
              type: string
              description: Unique identifier of the issuer.
            updateCardDetailsList:
              maxItems: 99
              type: array
              description: List of UpdateCardDetails records.
              items:
                $ref: '#/components/schemas/UpdateCardDetails'
    UpdateCardStateResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          required:
            - processId
            - responseDetailsLcmList
          properties:
            responseDetailsLcmList:
              type: array
              description: The details of the state update actions.
              items:
                $ref: '#/components/schemas/ResponseDetailsLcm'
            processId:
              maxLength: 48
              type: string
              description: Process identifier
